{% extends 'base.html.twig' %}

{% block title %}Détail de l'entreprise{% endblock %}

{% block body %}
    <h1>Détail de l'entreprise</h1>
    <h2>{{ entreprise.raisonSociale }}</h2>
    <p>
       Adresse : {{entreprise.adresse}}<br>
       Ville : {{entreprise.ville}}<br>
       Code Postale : {{entreprise.cp}}<br>
       Date Création : {{entreprise.getDateCreationString}}<br>
    </p>

    <h3>Liste des employés :</h3>
    {% if entreprise.employes | length > 0 %}

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Employé</th>
            </tr>
        </thead>
        <tbody>
            {% for employe in entreprise.employes %}
                <tr><td>{{ employe }}</td></tr>
            {% endfor %}
        </tbody>
    </table>
    
    {% else %}
        <p>Aucune employé dans cette entreprise</p>
    {% endif %}
    
    

{% endblock %}
